.NavBar {
  display: flex;
  background-color: #25283D;
  flex-direction: row;
  padding-left: 4%;
  padding-right: 10%;
  color: #EFD9CE;
}

img {
  border-radius: 50%;
  width: 10%;
  height: 10%;
}

h1 {
  flex: 1;
  padding-left: 4%;
}

nav {
  flex: 2;
  line-height: 80px;
  text-align: right;
}
