.NavBar {
  display: flex;
  background-color: #22181C;
  flex-direction: row;
  padding-left: 2%;
  padding-right: 5%;
  color: #F6E8EA;
}

.NavBar img {
  border-radius: 50%;
  width: 10%;
  height: 10%;
  align-self: center;
}

h1 {
  padding-left: 3%;
  flex: 1;
  font-size: 24px;
  align-self: center;
}

nav {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 15%;
  text-align: right;
}

nav a {
  font-size: 18px;
  text-decoration: none;
  align-self: center;
}

@media only screen and (max-width: 680px) {
  h1 {
    font-size: 20px;
  }
  nav a {
    font-size: 14px;
  }
}

@media only screen and (min-width: 960px) {
  h1 {
    font-size: 32px;
  }

  nav a {
    font-size: 24px;
  }
}
