.Project {
  display: flex;
  flex-direction: column;
  margin-top: 0%;
  margin-bottom: 5%;
}

.eargASMR {
  border-radius: 8%;
}

img.Kollaboscope {
  width: 300px;
}

img.DRY-Draw {
  width: 300px;
}

.project-descr-img {
  display: flex;
  flex-direction: column-reverse;
}

.project-descr-img p {
  padding-left: 3%;
  padding-right: 3%;
}

.project-descr-img img {
  margin-top: 0;
}

@media only screen and (min-width: 768px) {

  .project-descr-img img {
    margin-top: 0%;
  }
  img.Kollaboscope {
    width: 400px;
  }

  img.DRY-Draw {
    width: 400px;
  }
}

@media only screen and (min-width: 1024px) {
  .project-descr-img {
    flex-direction: row;
  }
  .project-descr-img img {
    margin-top: 10%;
  }
  img.Kollaboscope {
    width: 400px;
  }

  img.DRY-Draw {
    width: 400px;
  }
}

h3 {
  font-size: 24px;
}

p {
  text-align: left;
}
