* {
  transition-delay: 150ms;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #F6E8EA;
  color: #22181C;
}

section {
  margin-top: 95px;
  flex: 1;
}

.ReactStickyHeader_foreground, .ReactStickyHeader_background-bg {
  pointer-events: none;
}

h2, h3 {
  font-size: 28px;
  color: #F75D5D;
}

p {
  line-height: 2;
  font-size: 24px;
  color: #25283D;
}

b, a, em {
  color: #F75D5D;
}

a {
  text-decoration: none;
}

a:hover {
  color: #D63AF9;
}
