.App {
  display: flex;
  flex-direction: column;
}

section {
  padding-top: 95px;
  flex: 1;
  height: 800px;
}

.ReactStickyHeader_foreground, .ReactStickyHeader_background-bg {
  pointer-events: none;
}
